<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>GitHub Web Notifier</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://typicode.github.io/ghwn" data-text="Get desktop notifications for new GitHub issues, comments, stars... without having to install anything" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <iframe src="https://ghbtns.com/github-btn.html?user=typicode&repo=ghwn&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>

    <h1>
      <a href=".">
        <i class="fa fa-bell-o"></i> GHWN - GitHub Web Notifier
      </a>
    </h1>

    <h2>Never miss something on GitHub</h2>
    <p>Get desktop notifications for new issues, comments, stars... without having to install anything.</p>

    <form>
      <input type="text" name="name" placeholder="GitHub username">
      <input type="submit" value="watch">
    </form>

    <ul id='list'></ul>

    <footer>
      <p>
        <i class="fa fa-thumb-tack"></i> Pin this tab to receive notifications when you open your browser
      </p>
      <p>
        <i class="fa fa-clock-o"></i> Events are fetched every minute
      </p>
      <p>
        <i class="fa fa-code"></i> by <a href="https://github.com/typicode">typicode</a>
      <p>
    </footer>

    <script id="list-template" type="text/html">
      <% _.each(collection, function (model) { %>
        <li>
          <strong><%= model.type %></strong>
          on <%= model.repo.name %>
          by <%= model.actor.login %>
          at <%= new Date(model.created_at).toLocaleTimeString() %>
        </li>
      <% }); %>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js"></script>
    <script src="script.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44497010-5', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
