<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub Web Notifier</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" id="favicon" href="favicon.png">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i class="fa fa-bell-o"></i> GHWN</a>
        </div>
        <span id="form"></span>
      </div>
    </nav>

    <!-- index view -->
    <div class="container" id="index">

      <div id="alert" class="alert alert-warning hidden" role="alert">
        Sorry, this browser doesn't seem to support desktop notification.
      </div>

      <div class="page-header">
        <h1>Desktop notifications for GitHub users</h1>
      </div>

      <p>
        <i class="fa fa-bell-o"></i>
        Get desktop notifications for new comments, stars and issues.
      </p>

      <p>
        <i class="fa fa-thumb-tack"></i>
        Pin this tab to receive notifications when you open your browser.
      </p>

      <p>
        <i class="fa fa-clock-o"></i>
        New events are fetched every minute.
      </p>

      <div style="margin-top: 30px">
        <img class="hidden-xs img-responsive img-rounded" src="screenshot.png">
        <img class="visible-xs-inline img-responsive img-rounded img-center" src="screenshot-xs.png">
      </div>

    </div>

    <!-- list view -->
    <div class="container" id="list"></div>

    <footer class="footer">
      <div class="container">
            <p class="text-muted">
              GitHub Web Notifier
              <i class="fa fa-code"></i> with <i class="fa fa-heart-o"></i>
              by <a href="https://github.com/typicode">typicode</a>
              <span style="display: inline-block; width: 20px"></span>

              <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="Desktop Notifications for GitHub" data-url="http://typicode.github.io/ghwn/" data-style="twitter">Vote on Hacker News</a>
              <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>

              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://typicode.github.io/ghwn" data-text="Desktop notifications for #github issues, comments, stars... without having to install anything" data-count="none">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <iframe src="https://ghbtns.com/github-btn.html?user=typicode&repo=ghwn&type=star&count=false" frameborder="0" scrolling="0" width="50px" height="20px"></iframe>
            </p>
      </div>
    </footer>

    <!-- Form template -->
    <script id="form-template" type="text/html">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" name="name" placeholder="GitHub username" autocapitalize="off">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Watch</button>
      </form>
    </script>

    <!-- List template -->
    <script id="list-template" type="text/html">
      <% _.each(collection, function (model) { %>
        <div class="item">
          <p>
            <strong><%= model.type %></strong>
            on <%= model.repo.name %>
            by <%= model.actor.login %>
            at <%= new Date(model.created_at).toLocaleTimeString() %>
          </p>
        </div>
      <% }); %>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tinycon/0.5/tinycon.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ifvisible/1.0.3/ifvisible.min.js"></script>
    <script src="script.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44497010-5', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
